<div class="container-fluid mt-5">
  <div class="row flex-nowrap">
    <div class="col-auto bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-5"
          id="menu"
        >

          <li>
            <a href="todo" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">TO DO</span></a
            >
          </li>
          <li>
            <a href="simpson" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">SIMPSON</span></a
            >
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">PROYECTO 3</span></a
            >
          </li>
        </ul>
        <hr />
      </div>
    </div>
  </div>
</div>
