<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col col-xl-10">
    <div class="card" style="border-radius: 15px">
      <div class="card-body p-5">
        <div>
          <!-- <button type="button" class="btn btn-light btn-lg ms-2">Todas</button>
          <button type="button" class="btn btn-light btn-lg ms-2">
            Eliminadas
          </button>
          <button type="button" class="btn btn-light btn-lg ms-2">
            Finalizadas
          </button> -->
          <button type="button" class="btn btn-light btn-lg ms-2" (click)="categoriaSeleccionada = 'todas'">
            Todas
          </button>
          <button type="button" class="btn btn-light btn-lg ms-2" (click)="categoriaSeleccionada = 'eliminadas'">
            Eliminadas
          </button>
          <button type="button" class="btn btn-light btn-lg ms-2" (click)="categoriaSeleccionada = 'finalizadas'">
            Finalizadas
          </button>
        </div>
        <h6 class="mb-3">ToDo List</h6>


          <div class="form-outline flex-fill">
            <input
              type="text"
              [(ngModel)]="valor_input"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="form3">nombre</label>
          </div>
          <div class="form-outline flex-fill">
            <input
              type="text"
              [(ngModel)]="descripcion_input"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="form3">descripcion</label>
          </div>
          <div class="form-outline flex-fill">
            <input
              type="text"
              [(ngModel)]="estado_input"
              class="form-control form-control-lg"
            />
            <label class="form-label" for="form3">estado</label>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-lg ms-2"
            (click)="agregar()"
          >
            Add
          </button>
        </div>

        <ul class="list-group mb-0">

          <li
            *ngFor="let palabra of tareasFiltradas(); let i = index"
            class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
            [ngClass]="{ tachado: palabra.tachado }"
          >
            <div
              class="d-flex align-items-center"
              (click)="toggleTachado(i, $event)"
            >
              {{ palabra.texto }}
            </div>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              (click)="borrar(i)"
            >
              borrar
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
