<div class="container mt-4">
  <h2>Tabla de Videos</h2>
  <button class="btn btn-primary mb-3" (click)="goToForm()">Agregar Nuevo Video</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>URL del vídeo</th>
        <th>Categoría</th>
        <th>Título</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos">
        <td>{{ video.id }}</td>
        <td>{{ video.url }}</td>
        <td>{{ video.category }}</td>
        <td>{{ video.title }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="viewDetails(video.id)">Ver Detalle</button>
          <!-- <button class="btn btn-danger btn-sm" (click)="deleteVideo(video.id)">Eliminar</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

