html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    background-color: #333;
    padding: 1em;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav div{
    margin: 15px;
    padding: 20px;
}

.sector{
    color: white;
}
a:hover{
    color: #ffd700;
}
main{
    display: flex;
    
}
main div{
    width: 50%;
    padding: 15px;
    height: 100%;
}
.notprinc{
    margin-bottom: 20px;
    border: 1px solid #655f5f;
    color: #333;
    text-decoration: solid;
}
.notprinc p{
    font-style: italic;
}
.notprinc h2{
    color: #ff0000;
}
aside{

    background-color: #f4f4f4;
    padding: 10px;
}
aside h2{
    color: #ff0000;
}
li a{
    text-decoration: none;
}
footer{
    background-color: #001f3f;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}